<ion-header>
<ion-navbar>
<ion-title>
Ionic Blank
</ion-title>
</ion-navbar>
</ion-header>

<ion-content padding>
Student Name
<p>

<ion-card id="card-profile">
<ion-card-header>
<ion-card-title *ngIf="userSchool">
<h4 id="school-name">{{ userSchool.abbr }}</h4>
</ion-card-title>
</ion-card-header>
<ion-card-content>
<img
[src]="user.avatar"
class="img img-responsive img-user"
[alt]="user.full_name" />
<p>{{ user.full_name }}</p>
</ion-card-content>
</ion-card>

<ion-card
id="new-students-card"
*ngIf="recommendations && recommendations.newStudents">
<ion-card-header>
<ion-card-title>
<h4>New Students</h4>
</ion-card-title>
</ion-card-header>
<ion-card-content>
<ion-list>
<ion-list-item *ngFor="let student of recommendations.newStudents">
<img
[src]="student.avatar"
class="img img-responsive img-user"
[alt]="student.full_name" />
<p class="name">
{{ student.full_name }}
<span class="major">{{ student.major1 }}</span>
</p>
</ion-list-item>
</ion-list>
</ion-card-content>
</ion-card>
</p>
</ion-content>
