ionic page-students {

ion-mat-spinner {
  margin: 0 auto;
}

ion-mat-paginator {
  background-color: #eee;
}

div#students-ion-list {
  max-height: 100vh;
  padding-bottom: 15px;
  overflow-y: scroll;
}

div#students-ion-list .ion-card-student {
  margin-bottom: 15px;
}

div#students-ion-list .ion-card-student:last-child {
  margin-bottom: 0;
}

div#students-ion-list img.img-user {
  object-fit: cover;
  height: 50px;
  width: 50px;
  float: left;
  border-radius: 100%;
  margin-right: 10px;
  margin-bottom: 10px;
}

div#students-ion-list ion-button.btn-card-menu {
  float: right;
}

#filter-sidebar ul {
  list-style-type: none;
  padding-left: 0;
}

#filter-sidebar ion-mat-divider {
  padding: 10px 0;
}

#filter-sidebar p.section-header {
  font-weight: 700;
  margin-top: 15px;
}

span.ion-mat-checkbox-label {
  font-weight: normal;
}

}
