<ion-header>

  <ion-navbar>
    <ion-title>students</ion-title>
  </ion-navbar>

</ion-header>
<!-- convet to ionic
    <mat-card id="filter-sidebar">
      <mat-card-content>
        <mat-form-field>
          <input
            type="text"
            name="name"
            placeholder="Search Name"
            color="primary"
            (input)="onSearchStudentsInput()"
            matInput
            #searchName />
        </mat-form-field>
        <mat-divider></mat-divider>
        <p class="section-header">Major</p>
        <ul *ngIf="schoolInfo && schoolInfo.majors">
          <li *ngFor="let major of schoolInfo.majors">
            <mat-checkbox
              (click)="modifyStudentsFilter('majors', major)">
              {{ major }}
            </mat-checkbox>
          </li>
        </ul>
        <mat-divider></mat-divider>
        <p class="section-header">Minor</p>
        <ul *ngIf="schoolInfo && schoolInfo.minors">
          <li *ngFor="let minor of schoolInfo.minors">
            <mat-checkbox
              (click)="modifyStudentsFilter('minors', minor)">
              {{ minor }}
            </mat-checkbox>
          </li>
        </ul>
        <mat-divider></mat-divider>
        <p class="section-header">Concentration</p>
        <ul *ngIf="schoolInfo && schoolInfo.concentrations">
          <li *ngFor="let concentration of schoolInfo.concentrations">
            <mat-checkbox
              (click)="modifyStudentsFilter('concentrations', concentration)">
              {{ concentration }}
            </mat-checkbox>
          </li>
        </ul>
      </mat-card-content>
    </mat-card>
  </div>

  <div class="col-xs-12 col-md-7">
    <mat-paginator
      [length]="students.total"
      [pageSize]="30"
      [pageSizeOptions]="[10, 20, 30]"
      (page)="getStudents(user.id, user.type, $event.pageIndex, $event.pageSize, searchName.value);"
      #paginator>
    </mat-paginator>

    <div id="students-list">
      <mat-card class="card-student" *ngFor="let student of students.all">
        <mat-card-content>
          <div class="row">
            <div class="col-xs-12">
            <button class="btn-card-menu" mat-button [matMenuTriggerFor]="menu">
              <mat-icon>more_vert</mat-icon>
            </button>
            <mat-menu #menu="matMenu">
              <button mat-menu-item>Message</button>
              <button mat-menu-item>Invite to Study Group</button>
            </mat-menu>
              <img
                [src]="student.avatar"
                class="img img-responsive img-user"
                [alt]="student.full_name" />
              <p [style.fontWeight]="600">
                {{ student.full_name }}
              </p>
              <p *ngIf="student.school_year">{{ student.school_year }}</p>
            </div>
          </div>
          <div class="row" *ngIf="student.major1 || student.concentration">
            <div class="col-xs-12">
              <p *ngIf="student.major1">
                {{ student.school_year }} - Major in {{ student.major1 }}{{ student.major2 ? ", " + student.major2 : "" }}
              </p>
              <p *ngIf="student.minor">Minor in {{ student.minor}}</p>
              <p *ngIf="student.concentration">
                Concentration in {{ student.concentration }}
              </p>
            </div>
          </div>
        </mat-card-content>
        <!-- <mat-expansion-panel> -->
        <!--   <mat-expansion-panel-header> -->
        <!--     <mat-panel-title>Bio</mat-panel-title> -->
        <!--     <mat-panel-description> -->
        <!--       Type your name and age -->
        <!--     </mat-panel-description> -->
        <!--   </mat-expansion-panel-header> -->
        <!--   <p>{{ student.bio }}</p> -->
        <!-- </mat-expansion-panel> -->
      </mat-card>
    </div>

    <mat-card class="card-student" *ngIf="students.all.length === 0 && !students.searching">
      <mat-card-content>
        <p class="text-center">no students found</p>
      </mat-card-content>
    </mat-card>

    <mat-spinner *ngIf="students.searching"></mat-spinner>
    -->
<ion-content padding>

</ion-content>
